<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">

      <h1><img src="LENX-optimised.png" width = 300 alt ="logo"></h1>

      <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">
          Register
        </a>
        <a href="/users/login" class="btn btn-secondary btn-block">
          Login
        </a>
      <div class="form-group">
                <label for="password">Google Authenticator Code</label>
                <input type="code" class="form-control" id="code" name="code">
      </div>
    </div>
  </div>
</div>
